.kiki-body {
  overflow: hidden;
  position: relative;
}

.kiki-page {
  position: relative;
  background: url("../assets/images/kiki4.png") no-repeat center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;

  .calcifer {
    top: 60%;
  }

  .bubble {
    top: 20%;
  }
}

.chats {
  position: absolute;
  opacity: 0;
}
.baron {
  width: 5%;
  bottom: 46%;
  left: 23%;
}
.jiji {
  width: 7.5%;
  bottom: 57%;
  right: 12%;
  rotate: 15deg;
}
.chatbus {
  width: 17%;
  bottom: 1%;
  left: 24%;
}
.muta {
  width: 17%;
  bottom: 0;
  right: 5%;
}
.roichat {
  width: 20%;
  top: 0;
  left: 47%;
}
.abdou {
  bottom: 0;
  left: 0%;
  width: 6%;
}

.kikibalais {
  position: absolute;
  width: 90vh;
  bottom: 20%;
  left: -50%;
  z-index: 20;
}
